/*
#####################
VARIABLES
#####################
*/

// default
$black: black;
$white: white;

$bgColorPattern: #0000000d;
$bgColorPatternDark: #332c3f;

$textColor: black;
$textColorDark: #d7c5d3;

$backgroundForm: #f2f2f2;
$backgroundFormCover: #e4e4e4e8;
$backgroundFormDark: #474152;
$backgroundFormCoverDark: #211a2de8;

$primary: #7A22A7;
$secondary: #26A69A;
$tertiary: #666666;
$accent: #9C27B0;

// palletes
$textColorPattern: #333333;
$textColorPattern2: #d7c5d3;
$textColorPattern3: #ababab14;
$textColorPattern4: #00000024;
$textColorPattern5: #7922a5;
$textColorPattern6: #ffffff52;
$textColorPattern7: #38293f;
$textColorPattern8: #211a2d;
$textColorPattern9: #ffffff1a;
$textColorPattern10: #d3bcdf;
$textColorPattern11: #7b22a71a;
$textColorPattern12: #ffffff59;
$textColorPattern13: #dbcbe3ba;
$textColorPattern14: #d7c5d31c;
$textColorPattern15: #0000001c;
$textColorPattern16: #ffffff26;
$textColorPattern17: #211a2d52;
$textColorPattern18: #a5a5a5;
$textColorPattern19: #cd7536;
$textColorPattern20: #DFBA69;
$textColorPattern21: #8c41b2;
$textColorPattern22: #82499f;
$textColorPattern23: #878787;
$textColorPattern24: #423855;
$textColorPattern25: #d1b2ed;
$textColorPattern26: #d7c5d32b;
$textColorPattern27: #cecece57;
$textColorPattern28: #a8a4b1;
$textColorPattern29: #ffffff29;
$textColorPattern30: #de92de;
$textColorPattern31: #130b1ebf;
$textColorPattern32: #501B6B;
$textColorPattern33: #bb90d1;
$textColorPattern34: #612f7b;
$textColorPattern35: #c270cb;
$textColorPattern36: #ffffff24;
$textColorPattern37: #c270cb3b;
$textColorPattern38: #ffffff0d;
$textColorPattern39: #ffffffb2;
$textColorPattern40: #211a2dfa;
$textColorPattern41: #e4e4e4fc;
$textColorPattern42: #00000014;
$textColorPattern43: #d7c5d366;
$textColorPattern44: #2a2435;
$textColorPattern45: #282233;
$textColorPattern46: #000000ad;
$textColorPattern47: #787878;
$textColorPattern48: #404040;
$textColorPattern49: #464646;
$textColorPattern50: #f3f3f3;
$textColorPattern51: #cecece;
$textColorPattern52: #ffffff1c;
$textColorPattern53: #bababa;
$textColorPattern54: #afafaf;
$textColorPattern55: #b5b5b5;
$textColorPattern56: #f3f3f312;
$textColorPattern57: #ffffff17;
$textColorPattern58: #0000000a;
$textColorPattern59: #a3a3a3;
$textColorPattern60: #b3b3b3;