.capa_img{
    background-color: #b1b1b1;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.capa_img_2{
    background-color: #b47272;
    height: 300px;
}
.title_capa{
    font-family: 'Raleway';
    color: #ffffff5c;
}
.title_capitulo{
    font-size: 22px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
}
.row_status{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_avatar{
    text-align: center;
    justify-content: center;
}
.corpo_capitulo{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    // padding: 0px 27%;
    margin: 76px 0 0 0;
}

.btn_proximo_capitulo{
    background-color: #7A22A7;
    width: 100%;
    color: #fff;
    font-family: "ubuntu";
    font-weight: bold;
    padding: 2px 6px;
    margin: 50px 0 0px 0;
}
.avatar_corpo_capitulo{
    margin: 100px 0 0 0px;
    background-color: #ddd;
    cursor: pointer;
    &:hover{
        background-color: rgb(204, 204, 204);
        font-size: 72px !important;
    }
}
.nome_usuario{
    padding: 0 0 0 0px;
    margin: 12px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
.p_nome_usuario{
    margin: 12px 0 0 0;
}
.card_tooltip{
    width: 100px;
    height: 100px;
}
.separador{
    margin: 20px 0;
    background-color: transparent;
}
.comment_textarea{
    
}
.q-textarea .q-field__control {
    min-height: 29px;
    height: 58px;
}
.avatar_comentario{
    background-color: #ddd;
    cursor: pointer;
}
.nome_usuario_comentario{
    margin: 0;  
    font-weight: bold;
    font-size: 15px;
    font-family: Raleway;
}
.data_comentario {
    margin: 0;
    color: #9f9f9f;
    font-size: 12px;
}
.comentario_corpo{
    margin: 7px 0 0px 0;
    font-family: Raleway;
}
.btn_enviar_comentario{
    background-color: #7A22A7;
    color: #fff;
    font-family: "ubuntu";
    font-weight: bold;
    margin: 17px 0 0px 0;
}
.row_btn{
    display: flex;
    justify-content: flex-end;
}