@import 'src/css/variables.scss';

.editar_perfil {
    background-color: $bgColorPattern;
    display: flex;
    align-items: center;

    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select, .q-radio__label {
        font-family: 'Raleway';
    }
    
    .inputs_row {
        width: 100%;
        .alinhar_inputs {
            display: flex;
            justify-content: center;

            .align-form {
                display: flex;
                justify-content: center;

                .p-altere-informacoes {
                    font-size: 20px;
                    color: $textColorPattern;
                    font-weight: bold;
                }
                .alinhar_label_utilizador {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }

        .row_foto {

            input[type=file] {
                display: none;
            }
            
            .avatar-profile {
                label {
                    position: absolute;
                    z-index: 1;
                }

                .icon-photo {
                    cursor: pointer;
                    color: $textColorPattern39;
                    transition: background-color 0.3s ease;
                }

                .img-avatar {
                    transition: filter 0.3s ease;
                    &:hover {
                        filter: brightness(0.7);
                    }
                }
                
            }
        }

        .btn-query-desk {

            .btn-salvar {
                background: $primary;
                width: 100%;
                color: $white;
                border-radius: 0;
                margin: 0;
            }

        }
    }

    .row-dark-perfil {
        padding-top: 3rem;
        
    }
}

@media screen and (min-width: 1024px){
    .editar_perfil{
        background: url('~assets/background.svg');
        background-size: 58vh;
        background-repeat: no-repeat;
        background-position: right center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .inputs_row {
            .alinhar_inputs {
                .align-form {
                    .alinhar_label_utilizador {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        }
    }
}