.bgIniciar-leitura{
    // background: url('~assets/background-leitura.png');
    // background-repeat: no-repeat;
}

.cover{
    width: 92%;
    height: 26em;
    border-radius: 14px;
}
.align-cover{
    display: flex;
    justify-content: center;
}
.text-over-cover{
    font-family: "Raleway", "Century Gothic", serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin: 46px 0 6px 0;
}
.welcomeUser{
    font-size: 29px;
    font-weight: bold;
    font-family: "Raleway", "Century Gothic", serif;
    margin: 73px 0px 0px 51px;
}

.bestChooses{
    margin: 50px 0 -20px 0px;
    font-family: "Raleway", "Century Gothic", serif;
    font-size: 20px;
}
.colLivros{
    margin: 30px 0;
}
.titulo_livro{
    font-size: 16px;
    font-family: "Raleway", "Century Gothic", serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}
.img_cover{
    height: 110px;
    background-color: #8e1cac;
    border-radius: 5px !important;
}
.card_imagem{
    padding: 12px 12px;
    width: 203px;
}
.coverImage{
    font-family: "Raleway", "Century Gothic", serif;
    color: #fff;
    text-transform: uppercase;
}
.cover_style{
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

.slides_style{
    padding: 0 70px;
    border-radius: 8px;
}
.slides_historias{
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        border: solid 4px #fff;
        border-radius: 12px;
    }
}
.vueperslides__arrow {
    width: 37px !important;
    color: #7a22a7  !important;
}