.cover{
    width: 92%;
    height: 26em;
    border-radius: 14px;
}
.align-cover{
    display: flex;
    justify-content: center;
}
.text-over-cover{
    font-family: "Raleway", "Century Gothic", serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin: 46px 0 6px 0;
}
.welcomeUser{
    font-size: 29px;
    font-weight: bold;
    font-family: "Raleway", "Century Gothic", serif;
    margin: 73px 0px 0px 51px;
}

.bestChooses{
    margin: 0 0 36px 51px;
    font-family: "Raleway", "Century Gothic", serif;
    font-size: 20px;
}
.titulo_livro{
    font-size: 16px;
    font-family: "Raleway", "Century Gothic", serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}
.img_cover{
    height: 110px;
    background-color: #8e1cac;
    border-radius: 5px !important;
}
.card_imagem{
    padding: 12px 18px;
    width: 261px;
}
.coverImage{
    font-family: "Raleway", "Century Gothic", serif;
    color: #fff;
    text-transform: uppercase;
}