@import 'src/css/variables.scss';

.perfil {
    transition: background-color 0.3s ease;

    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select, .historia_finalizada {
        font-family: 'Raleway';
    }

    .background-cover {
        min-height: 300px;
        align-content: flex-start;
        background: $bgColorPattern;

        .cover{
            background: no-repeat;
            position: absolute;
            z-index: 0;
            height: 300px;
            filter: brightness(0.8);
        }
        
        .col_perfil_cover {
            z-index: 2;
            
            .avatar {
                
            }
            .cover_nome {
                font-size: 19px;
                color: $white;
            }

            .cover_apelido{
                font-size: 23px;
                font-weight: bold;
                color: $white;
                text-shadow: 0px 1px 4px $black;
                margin: 0;
            }
        }
    }

    .card_barra {
        width: 100%;
        height: 67px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .tab-usuarios {
            font-family: "Raleway";
            
            .tab-a-seguir, .tab-cadastros, .tab-dashboards {
                font-weight: bold;
            }

            .tab-a-seguir {
                
            }
            .tab-cadastros {

            }
            .tab-dashboards {

            }
        }
        
        .btn-editar-perfil {
            margin: 0 21px 0px 0px;
            box-shadow: 0px 0px 3px $textColorPattern46;
        }
    }
    
    .historias {
        transition: background-color 0.3s ease;
        background: $bgColorPattern;
        
        .painel-perfil {
            background: transparent;

            .painel-a-seguir {
                .descricao {
                    .card_desc_user{
                        box-shadow: none;
                        
                        .p-descricao-usuario {
                            font-size: 15px;
                            margin: 0;
                            font-weight: bold;
                        }
                        
                        .p-descricao{
                            margin-top: 15px;
                        }
                    }
                }

                .desktop-carousel {
                    .card_historias{
                        box-shadow: none;
                        
                        .historias-de-usuario {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .qtd_historias{
                            color: $textColorPattern47;
                        }
                        .row_livros {
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                            
                            .livro_cover{
                                width: 141px;
                                height: 215px;
                            }

                            .col-historia-details {
                                .livro_titulo{
                                    font-size: 18px;
                                    font-weight: bold;
                                    margin: 0;
                                }
                                
                                .align-icons-historias {                                    
                                    .align_icone {
                                        text-align: right;
                                        color: $textColorPattern48;
                                        
                                        .icons_card {
                                            font-size: 15px;
                                            color: $textColorPattern49;
                                        }
                                        
                                        .align_result {
                                            font-size: 15px;
                                        }
                                    }
                                }
                                
                                .p_descricao{
                                    font-size: 14px;
                                }
                                
                                .historia_finalizada{
                                    background-color: $primary;
                                    color: $white;
                                    border-radius: 10px;
                                    font-size: 11px;
                                    padding: 0px 12px;
                                    height: 16px;
                                    justify-content: center;
                                    align-items: flex-start;
                                }
                                
                                .p_data {
                                    font-size: 13px;
                                }
                            }
                            
                            &:hover{
                                background-color: $textColorPattern50;
                            }
                        }
                        .paginacao {
                            
                        }
                    }
                } 
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .perfil {

    }
}