.sobre_empresa {
    padding-bottom: 50px;
    transition: background-color 0.3s ease;
    .align_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .somos_netdev{
        font-size: 26px;
        text-align: center;
        font-family: 'Raleway';
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .p_about1 {
        font-size: 16px;
        font-family: 'Raleway';
        text-align: justify;
        margin: 0 0 54px 0;
    }
    
    .valores_netdev {
        font-size: 26px;
        text-align: center;
        font-family: "Raleway";
        text-transform: uppercase;
        margin: 0px 0 0 0;
    }
}