.header{
    background-color: transparent;
    height: 110px;
    position: absolute;
}
.icon{
    border-radius: none !important;
    cursor: pointer;
}
.avatar-inicio{
    margin: 19px 0 0px 14px;
    height: 69px;
}
.input_search{
    width: 267px;
}

.image-background{
    float: right;
    margin: -55px 0 0px 0px;
    width: 49.93%;
}

.iniciar-sessao{
    color: rgb(122, 34, 167);
    margin: 29px 0px 0 -163px;
    font-family: Javanese Text;
    font-size: 16px;
    font-weight: bold;
    background-color: #7a22a71a;
    padding: 7px 8px 0px 8px;
}


