.header{
    background-color: transparent;
    height: 110px;
}
.icon{
    border-radius: none !important;
}
.avatar-inicio{
    margin: 19px 0 0px 14px;
    height: 69px;
}
.input_search{
    width: 267px;
}

.image-background{
    float: right;
    margin: -55px 0 0px 0px;
    width: 49.93%;
}

.iniciar-sessao{
    color: rgb(122, 34, 167);
    margin: 41px 0px 0 -163px;
    font-family: Javanese Text;
    font-size: 16px;
    font-weight: bold;
    background-color: #7a22a71a;
    padding: 7px 8px 0px 8px;
}

.mascote-image{
    width: 433px;
    // position: absolute;
    margin: -571px 289px 0 92px;
    float: right;
}

.texto-div{
    // position: absolute;
    // width: 647px !important;
}
.texto{
    font-family: "javaneze Text", serif;
    font-size: 18px;
    padding: 0 107px 0 37px;
    text-align: justify;
}
.segundaPlataforma{
    font-size: 22px;
    padding: 0 0px 0 37px;
    font-family: "javaneze Text";
    font-weight: bold;
    color: #7a22a7;
    // background-color: #8e1cad2b;
    width: 614px;
    // margin: 0 0 19px 37px;
}
.welcomeWorldBooks{
    margin: 69px 0 42px 0px;
    font-size: 4em;
    text-transform: uppercase;
    line-height: 49px;
    padding: 0 108px 0 37px;
    font-family: "javaneze text", serif;
}

.btn_iniciar-leitura {
    color: rgb(255 255 255);
    background-color: #7a22a7;
    margin: 31px 0px 0px 37px;
}

.btn_comece-escrever{
    color: rgb(255 255 255);
    background-color: #7a22a7;
    margin: 31px 0px 0px 37px;
}