.header{
    background-color: transparent;
    height: 110px;
    position: absolute;
    border: solid 1px #00000026;
}
.icon{
    border-radius: none !important;
    cursor: pointer;
}
.avatar-inicio{
    margin: 19px 0 0px 14px;
    height: 69px;
}
.input_search{
    width: 267px;
}

.image-background{
    float: right;
    margin: -55px 0 0px 0px;
    width: 49.93%;
}

.iniciar-sessao{
    color: rgb(122, 34, 167);
    margin: 29px 0px 0 -163px;
    font-family: Javanese Text;
    font-size: 16px;
    font-weight: bold;
    background-color: #7a22a71a;
    padding: 7px 8px 0px 8px;
}
.vueperslides__arrow, .vueperslides__arrow svg {
    transition: .3s ease-in-out;
    width: 40px !important;
}
.q-footer .q-layout__shadow:after {
    top: 10px;
    box-shadow: none;
}
.btn_dropdown_escrever{
    background-color: transparent !important;
    color: #000 !important;
    margin: 0px 41px 0 -76px;
}
.btn_dropdown_navegar{
    background-color: transparent !important;
    color: #000 !important;
    margin: 0 100px 0 0px;
}
.icon_criar_historia{
    font-size: 24px;
    margin: 0px 11px 0 0px;
}
.q-field--square .q-field__control {
    border-radius: 0 !important;
    height: 25px;
}