.dark-categorias {
    background-color: #332c3f;
    transition: background-color 0.3s ease;
    p, span, h1, h2, h3, h4, h5, h6, ol, ul, button, a, label {
        font-family: 'Raleway';
        color: #c1bfc2;
    }
    .card-categorias {
        // margin: 40px 40px;
        height: 7em;
        margin: 1px 5px 6px 10px;
        font-family: 'Raleway';
        font-size: 19px;
        padding: 13px;
        cursor: pointer;
        background-image: url('~assets/cat_cover_dark.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 53%;
        box-shadow: none;
        transition: background-color 0.3s ease, font-weight 0.3s ease, background-image 0.3s ease;
        border: solid 1px #b0b0b0;
        // background: #fff0;
        color: #f2f2f2;
        &:hover{
            background-color: #ffffff14;
            font-weight: bold;
        }
    }
    .row_categorias {
        display: flex;
        justify-content: space-evenly;
        padding-top: 49px;
        padding-bottom: 49px;
    }
    .card_search{
        box-shadow: none;
        background: transparent;
    }
    .p_search{
        font-size: 25px;
        text-align: left;
        font-family: Raleway;
        padding: 0 23px;
        margin: 68px 0 0 0;
    }
    .p_text{
        font-size: 17px;
        text-align: left;
        font-family: Raleway;
        padding: 0 23px;
        margin: 10px 0 0 0;
        font-weight: bold;
    }
    .p_search_label{
        text-align: left;
        margin: 63px 0px 14px 0;
        padding: 0 23px;
        font-family: Raleway;
        font-size: 17px;
    }
    .input_search_categoria{
        padding: 0 23px;
        margin: 0px 0 16px 0;
    }
}
@media screen and (min-width: 980px) {
    .dark-categorias {
        .card-categorias {
            height: 7em;
            margin: 1px 5px 6px 10px;
            font-family: "Raleway";
            font-size: 19px;
            padding: 13px;
            cursor: pointer;
            background: url('~assets/cat_cover_dark.png');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 53%;
            box-shadow: none;
            border: solid 1px #b0b0b0;
            // background: #fff0;
            color: #f2f2f2;
            transition: background-color 0.3s ease, font-weight 0.3s ease, background-image 0.3s ease;
            &:hover{
                background-color: #ffffff14;
                font-weight: bold;
            }
        }
        .row_categorias {
            display: flex;
            justify-content: space-evenly;
            padding-top: 49px;
        }
        .card_search{
            box-shadow: none;
        }
        .p_search{
            font-size: 25px;
            text-align: right;
            font-family: Raleway;
            padding: 0 23px;
            margin: 68px 0 0 0;
        }
        .p_text{
            font-size: 17px;
            text-align: right;
            font-family: Raleway;
            padding: 0 23px;
            margin: 10px 0 0 0;
            font-weight: bold;
        }
        .p_search_label{
            text-align: right;
            margin: 63px 0px 14px 0;
            padding: 0 23px;
            font-family: Raleway;
            font-size: 17px;
        }
        .input_search_categoria{
            padding: 0 23px;
        }
    }
}