@import 'src/css/variables.scss';

.dark-editar_perfil {
    transition: background-color 0.3s ease;
    background-color: $bgColorPatternDark !important;
    display: flex;
    align-items: center;

    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select, .q-radio__label {
        color: $textColorDark !important;
        font-family: 'Raleway';
        z-index: 1;
    }
    
    .inputs_row {
        .alinhar_inputs {
            .align-form {
                .p-altere-informacoes {
                    color: $textColorPattern61;
                }
                .alinhar_label_utilizador {
                }
            }
        }

        .row_foto {

            input[type=file] {
                
            }
            
            .avatar-profile {
                label {
                    
                }

                .icon-photo {
                    color: $textColorPattern39;
                }

                .img-avatar {
                }
                
            }
        }

        .btn-query-desk {

            .btn-salvar {
                background: $primary;
                color: $white;
            }

        }
    }

    .row-dark-perfil {
    }
}

@media screen and (min-width: 1024px){
    .dark-editar_perfil{
        background: url('~assets/background.svg');
        background-size: 58vh;
        background-repeat: no-repeat;
        background-position: right center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .inputs_row {
            .alinhar_inputs {
                .align-form {
                    .alinhar_label_utilizador {
                        
                    }
                }
            }
        }
    }
}