@import 'src/css/variables.scss';

.dark-livro_categorias, .dark-pesquisa_livros {
    background: linear-gradient(88deg, $textColorPattern7 0%, $textColorPattern8 100%);
    transition: background-color 0.3s ease;
    
    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select {
        color: $textColorDark;
        font-family: "Raleway", "Century Gothic", serif;
    }
}
@media screen and (min-width: 980px) {
    
}
@media screen and (min-width: 1260px) {
    
}
@media screen and (min-width: 1440px) {
    
}