@import 'src/css/variables.scss';

.dark-livro {
    transition: background-color 0.3s ease;
    background: $bgColorPatternDark;
    padding-bottom: 40px;
    
    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select, .q-radio__label, .historia_finalizada {
        color: $textColorDark;
        font-family: "Raleway", "Century Gothic", serif;
    }

    .geral {
        .card_livro{
            box-shadow: 0px 4px 6px $textColorPattern62;
            background: $grayVariantColorPattern03;

            .capa_card{
                border: solid 12px $grayVariantColorPattern04;
            }
            .align_icons_status {
                color: $textColorDark;
                .icons_card{
                    
                }
                .labels_icon{
                    
                }
                .align_text_details{
                    
                }
            }
            .col-icon-id {
                .help {
                    background: $textColorDark;
                    color: $bgColorPatternDark;
                }
            }
            .separator_card{
                background-color: $grayVariantColorPattern05;
            }
            .btn_iniciar_leitura_livro {
                color: $white;
                background: linear-gradient(88deg, $primary, $textColorPattern35);
            }
            .btn_add_lista {
                background: $primaryVariantColorPattern;
                color: $white;
            }
            .btn-editar-historia {
                background: linear-gradient(88deg, $textColorPattern64, $textColorPattern65);
                color: $white;
            }
            .btn-deletar-historia {
                background: linear-gradient(88deg, $textColorPattern64, $textColorPattern65);
                color: $white;
            }
        }
    }
    .descricao {
        .historia_finalizada{
            background-color: $primary;
            color: $white;
        }
        .separator_livro{
            background-color: $grayVariantColorPattern05;
        }
    }
    .tags-generos {
        .tag-genero {
            color: $black;
            font-weight: bold;
        }
    }
    .capitulos {
        .card_indice{
            background: $textColorPattern52;
            box-shadow: none;

            .row_add_capitulo {
                .btn_adicionar{
                    border: solid 1px $textColorPattern59;
                    color: $textColorDark;
                }
            }

            .lista {
                color: $textColorDark;
                .item_list{
                    background-color: $grayVariantColorPattern06;

                    &:hover{
                        border-left: solid 3px $primaryVariantColorPattern01;
                        background-color: $primaryVariantColorPattern03;
                    }
                }
                .item_edit{
                    background-color: $grayVariantColorPattern06;

                    &:hover{
                        background-color: $primaryVariantColorPattern03;
                    }
                }
            }
        }
    }
}
.card-delete {
    p, span, h1, h2, h3, h4, h5, h6, ol, ul, button {
        font-family: 'Raleway';
        color: $textColorDark;
    }
    .btn-cancelar {
        background: $primaryVariantColorPattern02;
        color: $white;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px){
    // .livro {
        
    // }
}
@media screen and (min-width: 980px){
    
}