.dark-index-header{
    background: linear-gradient(269deg, #653b78 0%, #653b8a 100%);
    height: 70px;
    position: fixed;
    border: solid 0px #00000026;
    transition: background-color 0.3s ease;
    p, span, h1, h2, h3, h4, h5, h6, ol, ul, button, a, q-item-label {
        font-family: 'Raleway';
    }
    .icon{
        border-radius: none !important;
        cursor: pointer;
        filter: brightness(4);
    }
    .avatar-inicio{
        margin: 9px 0 0px 12px;
        height: 1em;
        font-size: 48px;
        width: 60px;
    }
    .input_search{
        width: 267px;
    }
    .col-menu-hamburguer{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e0e0e0;
        i {
            color: #ecbdf3;
        }
    }
    .popup_search {
        padding: 8px 24px;
        width: 99%;
    }
    .lupa {
        color: #000;
        font-size: 2em;
        cursor: pointer;
        padding: 15px 0px 0 0px;
    }
    .menu-hamburguer{
        color: #000;
        font-size: 44px;
        cursor: pointer;
        padding: 12px 0 0 0;
    }
    .image-background{
        float: right;
        margin: -55px 0 0px 0px;
        width: 49.93%;
    }
    .iniciar-sessao{
        color: #b894cb;
        // margin: 29px 0px 0 -163px;
        font-family: Javanese Text;
        font-size: 16px;
        font-weight: bold;
        background-color: #eed7fa1a;
        padding: 7px 8px 0px 8px;
        display: none;
        border-radius: 12px;
    }
    .vueperslides__arrow, .vueperslides__arrow svg {
        transition: .3s ease-in-out;
        width: 40px !important;
    }
    .q-footer .q-layout__shadow:after {
        top: 10px;
        box-shadow: none;
    }
    .btn_dropdown_escrever{
        background-color: transparent !important;
        color: #d9c2d8 !important;
        margin: 0px 41px 0 -76px;
    }
    .btn_dropdown_navegar{
        background-color: transparent !important;
        color: #d9c2d8 !important;
        margin: 0 100px 0 0px;
    }
    .icon_criar_historia{
        font-size: 24px;
        margin: 0px 11px 0 0px;
    }
    .q-field--square .q-field__control {
        border-radius: 0 !important;
        height: 25px;
    }
    .sidebar {
        display: block;
    }
    .icone_search {
        cursor: pointer;
        color: #bcbcbc;
        &:hover{
            color: #7A22A7;
        }
    }
    .barra-pesquisa {
        margin: 33px 546px 0 0px;
        display: none;
    }
    .itens-sidebar{
        color: #bbb4b4;
        font-weight: bold;
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 11px;
    }
    .icone-sidebar {
        color: #bbb4b4;
    }
    .avatar_sidebar {
        display: flex;
        justify-content: center;
        margin: 18px 0 0 0;
    }
    .navegar {
        display: none;
        .button-profile {
            background: #ffffff78;
        }
    }
}
.dark-index-menu-opcoes {
    font-family: 'Raleway';
    .profile {

    }
    .apelido {

    }
    .dark-mode {
        &:hover {
            // background-color: #000;
        }
    }
    .logout {
        color: #832a2a;
        background: #f7e8e8;
        font-weight: bold;
        font-size: 1.1em;
    }
}
.dark-index-dropdown_navegar {
    font-family: Raleway;
}
@media screen and (min-width: 980px){
    .dark-index-header{
        background: linear-gradient(269deg, #18002357 0%, #e9bdff47 100%);
        height: 110px;
        position: absolute !important;
        border: solid 0px #00000026;
        transition: background-color 0.3s ease;
        .icon{
            border-radius: none !important;
            cursor: pointer;
            filter: brightness(4);
        }
        .avatar-inicio{
            margin: 19px 0 0px 14px;
            height: 69px;
            width: 82px;
        }
        .input_search{
            width: 238px;
        }
        .col-menu-hamburguer{
            display: none;
        }
        .menu-hamburguer{
            display: none;
        }
        .image-background{
            float: right;
            margin: -55px 0 0px 0px;
            width: 49.93%;
        }
        .iniciar-sessao{
            color: #b894cb;
            // margin: 29px 0px 0 -163px;
            font-family: "Raleway";
            font-size: 16px;
            font-weight: bold;
            background-color: #eed7fa1a;
            padding: 3px 7px;
            display: block;
            border-radius: 12px;
            transition: background-color 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
        }
        .vueperslides__arrow, .vueperslides__arrow svg {
            transition: .3s ease-in-out;
            width: 40px !important;
        }
        .q-footer .q-layout__shadow:after {
            top: 10px;
            box-shadow: none;
        }
        .btn_dropdown_escrever{
            background-color: transparent !important;
            color: #d9c2d8 !important;
            margin: 0px 41px 0 -76px;
        }
        .btn_dropdown_navegar{
            background-color: transparent !important;
            color: #d9c2d8 !important;
            margin: 0 100px 0 0px;
        }
        .icon_criar_historia{
            font-size: 24px;
            margin: 0px 11px 0 0px;
        }
        .q-field--square .q-field__control {
            border-radius: 0 !important;
            height: 25px;
        }
        .icone_search {
            cursor: pointer;
            color: #bcbcbc;
            &:hover{
                color: #7A22A7;
            }
        }
        .barra-pesquisa {
            margin: 33px 0px 0 0px;
            display: block;
        }
        .sidebar {
            display: none;
        }
        .navegar {
            display: block;
            .button-profile {
                background: #ffffff78;
            }
        }
    }
}
@media screen and (min-width: 1260px) {
    .dark-index-header{
        .input_search {
            width: 267px;
        }
        .barra-pesquisa {
            margin: 33px 0px 0 0px;
            display: block;
        }
    }
}