@import 'src/css/variables.scss';

.projetos {
    transition: background-color 0.3s ease;
    background-color: $bgColorPattern;
    
    p, span, h1, h2, h3, h4, h5, h6, li, ul, ol, label, strong, b, input, textarea, select {
        color: $textColor;
        z-index: 1;
    }

    .row_projetos {
        display: flex;
        // justify-content: space-evenly;
        
        .card_search{
            box-shadow: none;
            background: transparent;
            
            p {
                font-size: 17px;
                text-align: center;
                padding: 0 23px;
                margin: 10px 0 0 0;
                font-weight: bold; 
            }
        }

        .col-projetos {
            .card-projeto {
                box-shadow: none;
                cursor: pointer;
                transition: background-color 0.3s ease;

                .titulo {
                    span {
                        font-size: 14px;
                        font-weight: 200;
                    }

                    h3 {
                        font-size: 1.5em;
                        font-weight: bold;
                        line-height: 1;
                    }

                    p {
                        opacity: 0.8;
                        font-size: 0.9em;
                    }
                }

                hr {
                    border: 0;
                    border-bottom: solid 1px $black;
                }
                            
                .background-cover {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    // z-index: -1;
                    opacity: 0.06;
                }

                &:hover {
                    background-color: $textColorPattern4;
                }
            }
        }
        
        .ribbon {
            font-size: 15px;
            // font-weight: bold;
            color: #fff;
            font-family: 'Raleway';
        }
        .ribbon {
            --f: .5em;
            
            position: absolute;
            top: 0;
            right: 0;
            line-height: 1.8;
            padding-inline: 1lh;
            padding-bottom: var(--f);
            border-image: conic-gradient(#0008 0 0) 51%/var(--f);
            clip-path: polygon(
            100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
            transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
            transform-origin: 0% 100%;
            background-color: $textColorPattern5;
        }
    }
}

@media screen and (min-width: 980px) {
    .projetos {

    }
}
@media screen and (min-width: 1260px) {
    .projetos {
        
    }
}
@media screen and (min-width: 1440px) {
    .projetos {
        
    }
}